## Import Libraries:

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

## DataSet Import:

In [3]:
# Load the weatherAus.csv dataset.
weather_aus_data = 'resources/weatherAus.csv'
df= pd.read_csv(weather_aus_data)
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

## Data Preprocessing:

In [4]:
df.shape

(145460, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [6]:
#Count of null values for each Column
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

### Drop Unnecessary Columns / Handle Missing Data

In [7]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

columns = ['Evaporation', 'Sunshine','WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm'
        , 'Cloud9am', 'Cloud3pm']
df = df.drop(columns, axis=1)

In [8]:
df.shape

(56420, 13)

In [9]:
#Checking if null values are removed for each Column
df.isnull().sum()

Date            0
Location        0
MinTemp         0
MaxTemp         0
Rainfall        0
Humidity9am     0
Humidity3pm     0
Pressure9am     0
Pressure3pm     0
Temp9am         0
Temp3pm         0
RainToday       0
RainTomorrow    0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 6049 to 142302
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          56420 non-null  object
 1   Location      56420 non-null  object
 2   MinTemp       56420 non-null  float64
 3   MaxTemp       56420 non-null  float64
 4   Rainfall      56420 non-null  float64
 5   Humidity9am   56420 non-null  float64
 6   Humidity3pm   56420 non-null  float64
 7   Pressure9am   56420 non-null  float64
 8   Pressure3pm   56420 non-null  float64
 9   Temp9am       56420 non-null  float64
 10  Temp3pm       56420 non-null  float64
 11  RainToday     56420 non-null  object
 12  RainTomorrow  56420 non-null  object
dtypes: float64(9), object(4)
memory usage: 6.0+ MB

### Create a DB Table 'weather_aus_subset' in pgAdmin with above 13 columns
##### SQL for PostgreSQL:
    CREATE TABLE weather_aus_subset (
    Date DATE,
    Location VARCHAR(30),
    MinTemp numeric(6,2),
    MaxTemp numeric(6,2),
    Rainfall numeric(6,2),
    Humidity9am numeric(6,2),
    Humidity3pm numeric(6,2),
    Pressure9am numeric(6,2),
    Pressure3pm numeric(6,2),
    Temp9am numeric(6,2),
    Temp3pm numeric(6,2),
    RainToday VARCHAR(10), 
    RainTomorrow VARCHAR(10)
    );

In [11]:
# Export this Subset of WeatherAUS data and save it to weatherAus_Subset.csv
df.to_csv (r'resources/weatherAus_Subset.csv', index = False, header=True)

### Import the data manually in to weather_aus_subset PostgreSQL table from weatherAus_Subset.csv

In [12]:
# Identify categorical Fields:

df_cat = [column_name for column_name in df.columns if df[column_name].dtype == 'O']
df_cat

['Date', 'Location', 'RainToday', 'RainTomorrow']

In [13]:
# Unique Values in categorical Fields:
df[df_cat].nunique()

Date            3416
Location          26
RainToday          2
RainTomorrow       2
dtype: int64

In [14]:
# Identify Numeric Fields:

df_num = [column_name for column_name in df.columns if df[column_name].dtype != 'O']
df_num

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [15]:
# Unique Values in Numeric Fields:
df[df_num].nunique()

MinTemp        348
MaxTemp        395
Rainfall       410
Humidity9am    101
Humidity3pm    101
Pressure9am    504
Pressure3pm    507
Temp9am        383
Temp3pm        393
dtype: int64