In [20]:

import warnings
warnings.filterwarnings('ignore')

In [21]:
import pandas as pd
import numpy as np
import datetime as dt
import missingno as msno

from sqlalchemy import create_engine
import psycopg2

In [22]:
PGHOST = 'rainfall.ckaepqnvzvpp.us-east-2.rds.amazonaws.com'
PGDATABASE = 'Rainfall_In_Australia'
PGUSER = 'postgres'
PGPASSWORD = '123rainfall456!'

In [23]:
conn_string = "host="+ PGHOST +" port="+ "5432" +" dbname="+ PGDATABASE +" user=" + PGUSER \
                  +" password="+ PGPASSWORD
    
conn = psycopg2.connect(conn_string)

In [24]:
cur = conn.cursor()

In [25]:
#cur.execute("SELECT * FROM cities_aus")
#record = cur.fetchall()

In [26]:
#for i in record:
#    print(i[0] + '\t' + i[1])

In [28]:
df = pd.read_sql_query('SELECT * FROM cities_aus', conn)
#pd.read_sql_query('SELECT * FROM cities_aus',conn=engine)
df.head()

,location,state,country,latitude,longitide,population,timezone
0,Albury,New South Wales,Australia,-36.0808,146.9165,"47,974",AUS Eastern Standard Time
1,BadgerysCreek,New South Wales,Australia,-33.8796,150.7523,225,AUS Eastern Standard Time
2,Cobar,New South Wales,Australia,-31.4980,145.8383,"3,990",AUS Eastern Standard Time
3,CoffsHarbour,New South Wales,Australia,-30.3022,153.1189,"71,822",AUS Eastern Standard Time
4,Moree,New South Wales,Australia,-29.4635,149.8417,"7,383",AUS Eastern Standard Time