In [65]:
import warnings
warnings.filterwarnings('ignore')

In [66]:
import numpy as np
import pandas as pd
import datetime as dt
import config as cfg

from sqlalchemy import create_engine
import psycopg2

from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Import Data from Postgre

In [67]:
# import data from AWS RDS Database


conn_string = "host="+cfg.PGHOST +" port="+ "5432" +" dbname="+ cfg.PGDATABASE +" user=" + cfg.PGUSER \
                  +" password="+ cfg.PGPASSWORD
    
conn = psycopg2.connect(conn_string)
cur = conn.cursor()

df = pd.read_sql_query('select * from weather_aus_raw where year >=2011 and year <= 2016',  conn)
df.head()

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,year,month,day
0,2011-01-01,Albury,23.2,35.8,0.0,9999.0,9999.0,ENE,26.0,S,...,1009.2,9999.0,9999.0,26.8,32.8,No,No,2011,1,1
1,2011-01-02,Albury,20.1,31.1,0.6,9999.0,9999.0,W,35.0,SW,...,1009.5,9999.0,9999.0,25.1,30.2,No,No,2011,1,2
2,2011-01-03,Albury,13.6,29.4,0.0,9999.0,9999.0,WNW,35.0,SSE,...,1009.3,9999.0,9999.0,20.2,28.4,No,No,2011,1,3
3,2011-01-04,Albury,13.9,29.2,0.0,9999.0,9999.0,SSE,24.0,SE,...,1007.8,9999.0,9999.0,19.9,27.9,No,No,2011,1,4
4,2011-01-05,Albury,16.0,28.9,0.0,9999.0,9999.0,SSE,31.0,ENE,...,1004.3,9999.0,9999.0,22.0,26.8,No,No,2011,1,5

## Review the Data

In [68]:
df.shape

(100935, 26)

In [69]:
# Check Datatypes

df.dtypes

date              object
location          object
mintemp          float64
maxtemp          float64
rainfall         float64
evaporation      float64
sunshine         float64
windgustdir       object
windgustspeed    float64
winddir9am        object
winddir3pm        object
windspeed9am     float64
windspeed3pm     float64
humidity9am      float64
humidity3pm      float64
pressure9am      float64
pressure3pm      float64
cloud9am         float64
cloud3pm         float64
temp9am          float64
temp3pm          float64
raintoday         object
raintomorrow      object
year               int64
month              int64
day                int64
dtype: object

In [70]:
df.isna().count()

date             100935
location         100935
mintemp          100935
maxtemp          100935
rainfall         100935
evaporation      100935
sunshine         100935
windgustdir      100935
windgustspeed    100935
winddir9am       100935
winddir3pm       100935
windspeed9am     100935
windspeed3pm     100935
humidity9am      100935
humidity3pm      100935
pressure9am      100935
pressure3pm      100935
cloud9am         100935
cloud3pm         100935
temp9am          100935
temp3pm          100935
raintoday        100935
raintomorrow     100935
year             100935
month            100935
day              100935
dtype: int64

In [71]:
df['location'].nunique()

49

## Check if Bucketing Required
#### we will skip binning for this dataset

In [72]:
# Check the unique value counts to see if binning is required
df.year.value_counts()

2016    17934
2014    17885
2015    17885
2013    16415
2012    15409
2011    15407
Name: year, dtype: int64

In [73]:
# Check the unique value counts to see if binning is required
#df.location.value_counts()

## Update "RainTomorrow" and "RainToday" Columns to Binary Values

In [74]:
df['raintomorrow'].value_counts()

No      76426
Yes     21980
9999     2529
Name: raintomorrow, dtype: int64

In [75]:
df['raintoday'].value_counts()

No      76427
Yes     21979
9999     2529
Name: raintoday, dtype: int64

In [76]:
df['raintomorrow'] = df.raintomorrow.eq('Yes').mul(1)
df['raintomorrow'].value_counts()

0    78955
1    21980
Name: raintomorrow, dtype: int64

In [77]:
df['raintoday'] = df.raintoday.eq('Yes').mul(1)
df['raintoday'].value_counts()

0    78956
1    21979
Name: raintoday, dtype: int64

## Drop Columns Not Needed for Machine Learning Model

In [78]:
columns =  ['date']
df = df.drop(columns, axis=1)

In [79]:
print(df.shape)
df.head()

(100935, 25)

,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,winddir3pm,...,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,year,month,day
0,Albury,23.2,35.8,0.0,9999.0,9999.0,ENE,26.0,S,WSW,...,1009.2,9999.0,9999.0,26.8,32.8,0,0,2011,1,1
1,Albury,20.1,31.1,0.6,9999.0,9999.0,W,35.0,SW,WSW,...,1009.5,9999.0,9999.0,25.1,30.2,0,0,2011,1,2
2,Albury,13.6,29.4,0.0,9999.0,9999.0,WNW,35.0,SSE,WNW,...,1009.3,9999.0,9999.0,20.2,28.4,0,0,2011,1,3
3,Albury,13.9,29.2,0.0,9999.0,9999.0,SSE,24.0,SE,SE,...,1007.8,9999.0,9999.0,19.9,27.9,0,0,2011,1,4
4,Albury,16.0,28.9,0.0,9999.0,9999.0,SSE,31.0,ENE,SW,...,1004.3,9999.0,9999.0,22.0,26.8,0,0,2011,1,5

## Encode Columns - Use OneHotEncoder

In [80]:
# Generate our categorical variable list
df_cat = df.dtypes[df.dtypes == "object"].index.tolist()
df_cat

['location', 'windgustdir', 'winddir9am', 'winddir3pm']

In [81]:
print(df[df_cat].nunique())
print(df.shape)
df.head()

location       49
windgustdir    17
winddir9am     17
winddir3pm     17
dtype: int64
(100935, 25)

,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,winddir3pm,...,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,year,month,day
0,Albury,23.2,35.8,0.0,9999.0,9999.0,ENE,26.0,S,WSW,...,1009.2,9999.0,9999.0,26.8,32.8,0,0,2011,1,1
1,Albury,20.1,31.1,0.6,9999.0,9999.0,W,35.0,SW,WSW,...,1009.5,9999.0,9999.0,25.1,30.2,0,0,2011,1,2
2,Albury,13.6,29.4,0.0,9999.0,9999.0,WNW,35.0,SSE,WNW,...,1009.3,9999.0,9999.0,20.2,28.4,0,0,2011,1,3
3,Albury,13.9,29.2,0.0,9999.0,9999.0,SSE,24.0,SE,SE,...,1007.8,9999.0,9999.0,19.9,27.9,0,0,2011,1,4
4,Albury,16.0,28.9,0.0,9999.0,9999.0,SSE,31.0,ENE,SW,...,1004.3,9999.0,9999.0,22.0,26.8,0,0,2011,1,5

In [82]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(df_cat)
encode_df.head()
print(encode_df.shape)

(100935, 100)

In [ ]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(df_cat, axis=1)
df.head()

In [ ]:
df.columns

In [ ]:
print(df.shape)
df.head()

## Variable Declaration and Split into Test/Train

In [ ]:
# define Target Variable
X = df.copy()
X = X.drop("raintomorrow", axis=1)
y = df["raintomorrow"]

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, train_size = 0.8)

In [ ]:
print(len(X_train))
print(len(X_test))

## Scale the Data
#### We will use standard scaler for the model

In [ ]:
from sklearn.preprocessing import StandardScaler

# Create an instance of StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Handle Class Imbalance

#### We decided to use Random Oversampling method because of the following reasons:
- SMOTE can be heavily influenced by outliers. 
- Undersampling causes loss of data and even though the dataset reasonably sized, we did not feel comfortable using undersampling
- Random Oversampling produced the highest precision score compared to SMOTE and SMOTEENN

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize = (8,5))
df.raintomorrow.value_counts(normalize = True).plot(kind='bar', color= ['mediumpurple','thistle'], alpha = 0.8, rot=0)
plt.title('RainTomorrow - 0-No and 1-Yes')
plt.show()

In [ ]:
# Resample the training data with the RandomOversampler
from collections import Counter

from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)


Counter(y_resampled)

##  Balanced Random Forest

In [ ]:
# Create a random forest classifier.

from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=128, random_state=42) 

# Fitting the model
rf_model = rf_model.fit(X_resampled, y_resampled)

# Making predictions using the testing data.
y_pred = rf_model.predict(X_test_scaled)

### Model Validation

#### For this model, precision is more important to predict rainfall (as opposed to sensitivity) in order to accurately plan for droughts. Accuracy score is not an appropriate metrics for this model. We will use the following instead:

- Confusion Matrix
- Classification Report

In [ ]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
balanced_accuracy_score(y_test, y_pred)

### Feature Importance

In [ ]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
for importance, feat in sorted(zip(rf_model.feature_importances_, X.columns), reverse=True):
    print(f'{feat}: ({importance})')

## Gradient Boosting

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
classifier_gb = GradientBoostingClassifier()
classifier_gb.fit(X_resampled, y_resampled)
y_gb=classifier_gb.predict(X_test_scaled)
print(classification_report_imbalanced(y_test, y_gb))
print('Accuracy Score : ',balanced_accuracy_score(y_test, y_gb))