In [1]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Data Loading and Preprocessing

In [7]:
# Load the data
file_path = 'Resources/weatherAUS_Sample.csv'
df = pd.read_csv(file_path, skiprows=1)[:-2]
df.head()

,1/1/2015,Albury,11.4,33.5,0,NA,NA.1,WSW,30,ESE,...,45,14,1013.5,1011,NA.2,NA.3,21,32.7,No,No.1
0,1/2/2015,Albury,15.5,39.6,0.0,NaN,NaN,NE,56.0,ESE,...,45.0,12.0,1016.0,1012.4,NaN,NaN,25.6,38.2,No,No
1,1/3/2015,Albury,17.1,38.3,0.0,NaN,NaN,NNE,48.0,NE,...,35.0,19.0,1017.9,1012.3,NaN,NaN,29.2,37.0,No,No
2,1/4/2015,Albury,26.0,33.1,0.0,NaN,NaN,NNE,41.0,ESE,...,46.0,37.0,1013.6,1012.1,8.0,5.0,27.4,30.9,No,No
3,1/5/2015,Albury,19.0,35.2,0.0,NaN,NaN,E,33.0,SSE,...,60.0,34.0,1017.4,1014.7,8.0,NaN,25.6,32.5,No,No
4,1/6/2015,Albury,20.5,36.1,0.0,NaN,NaN,NE,39.0,ESE,...,54.0,25.0,1019.1,1016.0,NaN,NaN,27.3,34.6,No,No

## Encode Columns

## Variable Declaration and Split into Test/Train

## Scale the Data

## Define/Evaluate Models

## Fit/Transform

## Accuracy Report / Confusion Matrix / Classification Report