## Import Libraries:

In [133]:
import warnings
warnings.filterwarnings('ignore')

In [134]:
import pandas as pd
import numpy as np
import datetime as dt
import missingno as msno

from sqlalchemy import create_engine
import psycopg2

from config import db_password

from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## DataSet Import from Postgres:

In [135]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Rainfall_In_Australia"
engine = create_engine(db_string)
df = pd.read_sql_query('select * from "weather_aus_raw_9999"',con=engine)
df.head()

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,year,month,day
0,2008-12-01,Albury,13.4,22.9,0.6,9999.0,9999.0,W,44.0,W,...,1007.1,8.0,9999.0,16.9,21.8,No,No,2008,12,1
1,2008-12-02,Albury,7.4,25.1,0.0,9999.0,9999.0,WNW,44.0,NNW,...,1007.8,9999.0,9999.0,17.2,24.3,No,No,2008,12,2
2,2008-12-03,Albury,12.9,25.7,0.0,9999.0,9999.0,WSW,46.0,W,...,1008.7,9999.0,2.0,21.0,23.2,No,No,2008,12,3
3,2008-12-04,Albury,9.2,28.0,0.0,9999.0,9999.0,NE,24.0,SE,...,1012.8,9999.0,9999.0,18.1,26.5,No,No,2008,12,4
4,2008-12-05,Albury,17.5,32.3,1.0,9999.0,9999.0,W,41.0,ENE,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,5

In [137]:
# Check the unique value counts to see if binning is required
df.year.value_counts()

2016    17934
2014    17885
2015    17885
2009    16789
2010    16782
2013    16415
2012    15409
2011    15407
2017     8623
2008     2270
2007       61
Name: year, dtype: int64

In [138]:
# Check the unique value counts to see if binning is required
df.location.value_counts()

Canberra            3436
Sydney              3344
Hobart              3193
Melbourne           3193
Adelaide            3193
Brisbane            3193
Darwin              3193
Perth               3193
Albany              3040
AliceSprings        3040
Bendigo             3040
Albury              3040
Townsville          3040
Launceston          3040
Ballarat            3040
Wollongong          3040
MountGambier        3040
GoldCoast           3040
MountGinini         3040
Cairns              3040
Penrith             3039
Tuggeranong         3039
Newcastle           3039
CoffsHarbour        3009
BadgerysCreek       3009
Sale                3009
MelbourneAirport    3009
Mildura             3009
NorfolkIsland       3009
Nuriootpa           3009
PerthAirport        3009
SydneyAirport       3009
Watsonia            3009
Woomera             3009
Portland            3009
PearceRAAF          3009
Dartmoor            3009
Cobar               3009
Richmond            3009
Williamtown         3009
Moree               3009
Witchcliffe         3009
WaggaWagga          3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Uluru               1578
Katherine           1578
Nhil                1578
Name: location, dtype: int64

## Update "RainTomorrow" and "RainToday" Columns to Binary Values

In [139]:
df['raintomorrow'].value_counts()

No      110316
Yes      31877
9999      3267
Name: raintomorrow, dtype: int64

In [140]:
df['raintoday'].value_counts()

No      110319
Yes      31880
9999      3261
Name: raintoday, dtype: int64

In [141]:
df['raintomorrow'] = df.raintomorrow.eq('Yes').mul(1)
df['raintomorrow'].value_counts()

0    113583
1     31877
Name: raintomorrow, dtype: int64

In [142]:
df['raintoday'] = df.raintoday.eq('Yes').mul(1)
df['raintoday'].value_counts()

0    113580
1     31880
Name: raintoday, dtype: int64